<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.wallpaperpicker">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:icon="@mipmap/ic_launcher_wallpaper"
        android:label="@string/pick_wallpaper"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name="com.android.wallpaperpicker.WallpaperPickerActivity"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@mipmap/ic_launcher_wallpaper"
            android:label="@string/pick_wallpaper"
            android:theme="@style/WallpaperTheme.Picker">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.wallpaperpicker.WallpaperCropActivity"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@mipmap/ic_launcher_wallpaper"
            android:label="@string/crop_wallpaper"
            android:theme="@style/WallpaperTheme">
            <intent-filter>
                <action android:name="android.service.wallpaper.CROP_AND_SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.wallpaperpicker.NoWallpaper"
            android:icon="@mipmap/ic_nowallpaper"
            android:label="@string/no_wallpaper"
            android:theme="@style/NoWallpaperStyle">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
